@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
    .table th {
        font-weight: bold;
        font-size: 20px;
    }

    body {
        background-image: url('https://e1.pxfuel.com/desktop-wallpaper/376/411/desktop-wallpaper-shocking-plain-light-green-website-backgrounds-light-grey-plain.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        background-size: 100% 87%;
    }
</style>
<script>
    function fetchEmployeeData() {
        $.ajax({
            url: '/api/Employee/GetUsers',
            type: 'GET',
            dataType: 'json',
            success: function (response) {

                // Check if the response contains data
                if (response && response.length > 0) {
                    // Clear existing table rows
                    $('#employeeTableBody').empty();

                    // Iterate over the response data and generate table rows
                    response.forEach(function (employee) {
                        var newRow = '<tr>' +
                            '<td style="font-size: 18px;"><strong>' + employee.empId + '</strong></td>' +
                            '<td style="font-size: 18px;">' + employee.name + '</td>' +
                            '<td style="font-size: 18px;">' + employee.email + '</td>' +
                            '<td style="font-size: 18px;">' + employee.department + '</td>' +
                            '<td style="font-size: 18px;">' + employee.qualification + '</td>' +
                            '<td style="font-size: 18px;">' +
                            '<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" onclick="editRecord(' + employee.empId + ')" data-target="#editRecordModal">Edit</button>' +
                            '&nbsp;&nbsp;' +
                            '<button type="button" class="btn btn-danger btn-sm" onclick="deleteRecord(' + employee.empId + ')">Delete</button>' +
                            '</td>' +
                            '</tr>';

                        // Append the new row to the table body
                        $('#employeeTableBody').append(newRow);
                    });
                } else {
                    // Display a message if there is no data
                    $('#employeeTableBody').html('<tr><td colspan="4">No employee records found</td></tr>');
                }
            },
            error: function (xhr, status, error) {
                console.error('Error fetching employee data:', error);
            }
        });
    }

    fetchEmployeeData();

    function deleteRecord(empId) {
        console.log(empId);
        $.ajax({
            type: 'DELETE',
            url: '/api/Employee/DeleteUser/' + empId,
            dataType: 'json',
            success: function (result) {
                console.log(result);
                alert("Record deleted successfully!");
                fetchEmployeeData();
            },
            error: function (result) {
                console.error(result);

                alert("Failed to delete record!");
            }
        });
    }

    function editRecord(empId) {

        $.ajax({
            url: '/api/Employee/GetEmployeeById/' + empId,
            type: 'GET',
            success: function (data) {
                console.log(data.empId);
                $('#inputId').val(data.empId);
                $('#inputName').val(data.name);
                $('#inputEmail').val(data.email);
                $('#inputDepartment').val(data.department);
                $('#inputQualification').val(data.qualification);
            },
            error: function (xhr, status, error) {
                console.error('Error fetching employee data:', error);
            }
        });
    }



    function saveRecords() {

        var empId = $('#empId').val();
        var name = $('#name').val();
        var email = $('#email').val();
        var department = $('#department').val();
        var qualification = $('#qualification').val();

        if (empId == "" || name == "" || email == "" || department == "" || qualification == "") {
            $('#message1').hide();
            $('#message2').show();
            return false;

        }

        if ($('#qualification').val() === 'Choose the Qualification' || $('#department').val() === 'Choose the Department') {
            $('#message1').hide();
            $('#message2').show();
            return false;
        }

        var obj = {
            EmpId: empId,
            Name: name,
            Email: email,
            Department: department,
            Qualification: qualification
        }

        $.ajax({
            type: 'POST',
            dataType: 'json',
            url: '/api/Employee/InsertUser',
            data: JSON.stringify(obj),
            contentType: 'application/json; charset=uft-8',
            success: function (result) {
                console.log(result);
                if (result.statusCode === 200) {
                    $('#successmessage').html(result.statusMessage);
                    $('#message1').show();
                    $('#message2').hide();
                    $('#Insertion')[0].reset();
                }
            },
            error: function (result) {
                console.log(result)
            }
        })
        console.log("Save changes button clicked");
    }

    function createRecord() {
        $("#createRecordModal").modal();
        $('#message1').hide();
        $('#message2').hide();

    }
    function saveEditedRecord() {
        var empId = $('#inputId').val();
        var name = $('#inputName').val();
        var email = $('#inputEmail').val();
        var department = $('#inputDepartment').val();
        var qualification = $('#inputQualification').val();

        // Construct the object with updated data
        var updatedData = {
            EmpId: empId,
            Name: name,
            Email: email,
            Department: department,
            Qualification: qualification
        };

        $.ajax({
            type: 'PUT',
            dataType: 'json',
            url: '/api/Employee/UpdateUser',
            data: JSON.stringify(updatedData),
            contentType: 'application/json; charset=utf-8',
            success: function (result) {
                $('#editRecordModal').removeClass("in");
                $('.modal-backdrop').remove();
                $('#editRecordModal').hide();
                fetchEmployeeData();
            },
            error: function (result) {
                console.log(result);
                alert('Failed to save changes. Please try again.');
            }
        });

    }
</script>


<h2>Employee Records</h2>
<div class="container">
    <div class="row justify-content-end">
        <div class="col-auto">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createRecordModal" onclick="createRecord()">
                Create New Record
            </button>
        </div>
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Emp ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Department</th>
            <th>Qualification</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody id="employeeTableBody">
    </tbody>
</table>

<!-- Modal for creating new record -->
<div class="modal fade" id="createRecordModal" tabindex="-1" role="dialog" aria-labelledby="createRecordModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createRecordModalLabel">Create New Record</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div id="message1">
                <div class="alert alert-success">
                    <span class="glyphicon glyphicon-ok"></span><strong>
                        Success Message!
                        <br />
                        <p id="successmessage">send an email to your email address with confirmation link!</p>
                    </strong>
                </div>
            </div>
            <div id="message2">
                <div class="alert alert-danger">
                    <span class="glyphicon glyphicon-remove"></span><strong id="errormessage">Error Message! Registration not Completed! </strong>
                </div>
            </div>
            <div class="modal-body">
                <!-- Form fields for creating a new record -->
                <form id="Insertion">
                    <div class="form-group">
                        <label for="inputColumn1">Emp Id</label>
                        <input type="text" class="form-control" placeholder="Employee ID" id="empId">
                    </div>
                    <div class="form-group">
                        <label for="inputColumn1">Name</label>
                        <input type="text" class="form-control" placeholder="Employee Name" id="name">
                    </div>
                    <div class="form-group">
                        <label for="inputColumn2">email</label>
                        <input type="text" class="form-control" placeholder="Employee Email" id="email">
                    </div>
                    <div class="form-group">
                        <label for="department">Department</label>
                        <select class="form-control" id="department">
                            <option>Choose the Department </option>
                            <option value="IT">IT</option>
                            <option value="Finance">Finance</option>
                            <option value="HR">HR</option>
                            <option value="Marketing">Marketing</option>
                            <option value="Production">Production</option>
                            <option value="Sales">Sales</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="qualification">Qualification</label>
                        <select class="form-control" id="qualification">
                            <option>Choose the Qualification </option>
                            <option value="High School">High School</option>
                            <option value="Diploma">Diploma</option>
                            <option value="BSc">BSc</option>
                            <option value="MSc">MSc</option>
                            <option value="PHD">PHD</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="saveRecords()">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for Editing new record -->
<div class="modal" id="editRecordModal" tabindex="-1" role="dialog" aria-labelledby="editRecordModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editRecordModalLabel">Update Record</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Form fields for edit record -->
                <div class="form-group">
                    <label for="inputId">Emp Id</label>
                    <input type="text" class="form-control" placeholder="Employee ID" id="inputId" readonly>
                </div>
                <div class="form-group">
                    <label for="inputName">Name</label>
                    <input type="text" class="form-control" id="inputName">
                </div>
                <div class="form-group">
                    <label for="inputEmail ">email</label>
                    <input type="text" class="form-control" id="inputEmail">
                </div>
                <div class="form-group">
                    <label for="inputDepartment">Department</label>
                    <select class="form-control" id="inputDepartment">
                        <option>Choose the Department </option>
                        <option value="IT">IT</option>
                        <option value="Finance">Finance</option>
                        <option value="HR">HR</option>
                        <option value="Marketing">Marketing</option>
                        <option value="Production">Production</option>
                        <option value="Production">Production</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="inputQualification">Qualification</label>
                    <select class="form-control" id="inputQualification">
                        <option>Choose the Qualification </option>
                        <option value="High School">High School</option>
                        <option value="Diploma">Diploma</option>
                        <option value="BSc">BSc</option>
                        <option value="MSc">MSc</option>
                        <option value="PHD">PHD</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="saveEditedRecord()">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for deleting record -->
<div class="modal fade" id="deleteRecordModal" tabindex="-1" role="dialog" aria-labelledby="deleteRecordModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteRecordModalLabel">Delete Record</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this record?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" onclick="confirmDeleteRecord()">Delete</button>
            </div>
        </div>
    </div>
</div>