@{
    ViewData["Title"] = "Home Page";
}
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script>
    $(document).ready(function () {
        $("#msg").hide();
       
    });
    function SignUp() {
        $("#ShowModal").modal();
        $('#message1').hide();
        $('#message2').hide();
    }
    

    function SaveForm() {
        var username = $('#user').val();
        var name = $('#name').val();
        var password = $('#password').val();

        if (name == "" || username == "" || password== "" )
        {
            $('#message1').hide();
            $('#message2').show();
            return false;

        }

        var obj = {
            Username: username,
            Name: name,
            Password: password
        }

        $.ajax({
            type: 'POST',
            dataType: 'json',
            url: '/api/Employee/RegisterUser',
            data: JSON.stringify(obj),
            contentType: 'application/json; charset=uft-8',
            success: function (result) {
                console.log(result);
                if (result.statusCode === 200) {
                    $('#successmessage').html(result.statusMessage);
                    $('#message1').show();
                    $('#message2').hide();
                    $('#Registration')[0].reset();
                }
            },
            error: function (result) {
                console.log(result);
            }

        })

    }

    function Login() {
        var obj = {
            Username: $('#logUsername').val(),
            Password: $('#logPssword').val()
        }
        console.log($('#logUsername').val());
        console.log($('#logPssword').val());
        $.ajax({
            type: 'POST',
            dataType: 'json',
            url: '/api/Employee/LoginUser',
            data: JSON.stringify(obj),
            contentType: 'application/json; charset=uft-8',
            success: function (result) {
                console.log(result);
                if (result.statusCode === 200) {
                    window.location.href = "/Home/Dashboard";
                }
                else
                {
                    $('#msg').html(result.statusMessage);
                    $('#msg').show();
                }
            },
            error: function (result) {
                console.log(result);
            }
        })
    }

</script>
  ﻿

<div class="row">
    <div class="col-md-4 col-md-offset-4 alert alert-info">
        <h3 class="text-center">Login</h3>
        <form id="loginForm">
            <div id="msg"><ul style="color: red; "> Invalid Username or Password</ul></div> 
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span> 
                    <input class="form-control" type="text" name="Username" id="logUsername" placeholder="Username" />
                </div>
            </div>
            
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input class="form-control" type="password" name="Password" id="logPssword" placeholder="Password" />
                </div>
            </div>
        </form>
        ﻿

        <div class="form-group">
        <button class="btn btn-info form-control" type="submit" onclick="Login()">
            <i class="glyphicon glyphicon-log-in"></i> Login
        </button>
        </div>
        <div class="form-group">
            <a style="float: left">Forget Password? </a><a style="float:right; cursor: pointer" onclick="SignUp()"> Sign Up</a>
        </div>
    </div>
</div>

<div class="modal fade" id="ShowModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a> 
                <h4>Registration Form</h4>
                <div id="message1">
                    <div class="alert alert-success">
                        <span class="glyphicon glyphicon-ok"></span><strong>
                            Success Message!
                            <br />
                            <p id="successmessage">send an email to your email address with confirmation link!</p>
                        </strong>
                    </div>
                </div>
                <div id="message2">
                    <div class="alert alert-danger">
                        <span class="glyphicon glyphicon-remove"></span><strong id="errormessage">Error Message! Registration not Completed! </strong>
                    </div>
                </div>
            </div>
            ﻿

            <div class="modal-body">
                <form id="Registration">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input class="form-control" type="text" name="Username" id="user" placeholder="Username" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                            <input class="form-control" type="text" name="Name" id="name" placeholder="Name" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input class="form-control" type="password" name="Password" id="password" placeholder="Password" />
                        </div>
                    </div>
                </form>
                ﻿

                <div class="form-group">
                    <button class="btn btn-info form-control" type="submit" onclick="SaveForm()">
                        <i class="glyphicon glyphicon-register"></i>
                        Register
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

